/* //loginRegister */
.form_block {
	width: 50%;
	display: table;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0.3em;
	border-radius: 0.5em;
}
.form_block > #title {
	background: #2c38e9;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
.form_block > .body {
	background: #ffffff;
	padding: 10px;
}

input {
	height: 3em;
	width: 100%;
	/* margin-bottom: 10px;
	box-sizing: border-box;
	padding: 4px 5px;
	background: #fff;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; */
}

.Error {
	padding: 10px;
	background-color: #feeaea;
	border: 1px solid #fadadb;
	margin-bottom: 10px;
	border-radius: 3px;
}

:root {
	--primaryColor: #0f52ba;
	--mainWhite: #fff;
	--offWhite: #0f52ba;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkGrey: #cfcfcf;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 3px;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
